/* Nitro */
a[data-list-item-id*="nitro"], a[href="/store"] {  display: none !important;}
/* Demandes de message */
a[data-list-item-id*="messageRequests"],a[href="/message-requests"] {  display: none !important;}
/* Boutique */
a[data-list-item-id*="shop"],a[href="/shop"] {  display: none !important; }
/* Offrir Nitro / Envoyer un cadeau */
div[aria-label="Envoyer un cadeau"],div[role="button"][aria-label*="cadeau"] {  display: none !important; }
/* Bouton GIF */
div[aria-label="Ouvrir l'onglet des GIF"],div[aria-label*="GIF"] {  display: none !important;}
/* Bouton autocollants */
div[aria-label="Ouvrir le sélecteur d'autocollant"],div[aria-label*="autocollant"] {  display: none !important; }
/* Appel vocal + vidéo */
div[role="button"][aria-label="Démarrer un appel vocal"],div[role="button"][aria-label="Démarrer un appel vidéo"] {  display: none !important;}
/* Bouton Aide */
a[href*="support.discord.com"],div[role="button"][aria-label="Aide"] {  display: none !important; }
